@font-face {
  font-family: 'vafthrudnir';
  src:
    url('/assets/fonts/vafthrud-webfont.woff2') format('woff2'),
    url('/assets/fonts/vafthrud-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ringbearer Medium';
  src: url('/assets/fonts/ringm___-webfont.eot');
  src:
    url('/assets/fonts/ringm___-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ringm___-webfont.woff2') format('woff2'),
    url('/assets/fonts/ringm___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
