@import "variables";
@import "mixins";
@import "fonts";

html {
  font-size: 62.5%;
}

body {
  color: $primary-color;
  background-image: url(/assets/img/bg01.jpg);
  background-size: cover;

  @include respond-to-large() {
    background-image: url(/assets/img/bg02.jpg);
  }
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem 0;
}

button {
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 0;
  transition: 250ms ease-out;
  font-family: inherit;
  border: 0;
}

.btn {
  @include shadow;

  &:hover {
    box-shadow: 0 1px 8px 1px rgba(150, 150, 150, 0.75);
  }
}

label {
  font-size: 1.3rem;
  margin: 1rem;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

input[type="text"] {
  border: none;
  text-align: center;
  padding: 0;
  font-size: 1.3rem;
  max-width: 145px;
  height: 31px;
  background: $grey;
  border-radius: 5px;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

.flex-row {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
